@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sarabun: 'Sarabun', sans-serif;
  /* fallback เผื่อไม่ได้โหลดผ่าน next/font */
  --border-radius: var(--mui-shape-borderRadius);
  --border-color: var(--mui-palette-divider);
  --primary-color: var(--mui-palette-primary-main);
  --background-color: var(--mui-palette-background-default);
  --header-height: 64px;
  --header-z-index: var(--mui-zIndex-appBar);
  --footer-z-index: 10;
  --customizer-z-index: var(--mui-zIndex-drawer);
  --search-z-index: var(--mui-zIndex-tooltip);
  --drawer-z-index: var(--mui-zIndex-drawer);
  --backdrop-color: rgb(var(--mui-mainColorChannels-light) / 0.5);
}

[data-mui-color-scheme='dark'] {
  --backdrop-color: rgb(21 16 43 / 0.6);
}

html {
  display: flex;
  inline-size: 100%;
  min-block-size: 100%;
  font-family: 'Sarabun', sans-serif;
}

body {
  font-family: 'Sarabun', sans-serif;
}
/* ======== PDF / Print Styling ======== */
/* global.css */

@media print {
  #pdf-content {
    width: 100%;
    padding: 10mm;
  }

  .main-report-table {
    width: 100%;
    border-collapse: collapse;
  }

  .main-report-table thead {
    display: table-header-group;
  }

  .main-report-table tfoot {
    display: table-footer-group;
  }

  .main-report-table tr {
    page-break-inside: avoid;
    break-inside: avoid;
  }
    /* ซ่อน Sidebar Menu */
  /* ซ่อน Sidebar Menu */
  .ts-vertical-nav-root {
    display: none !important;
  }

  /* ซ่อน Top Bar / Header */
  .ts-vertical-layout-header {
    display: none !important;
  }
 .MuiBox-root.mui-126th59 {
    display: none !important;
  }
  .ts-vertical-layout-footer {
    display: none !important;
  }
  /* ปรับให้เนื้อหาหลักขยายเต็มหน้า */
  .main-content {
    margin-left: 0 !important;
    width: 100% !important;
  }
}


